# Python cache
__pycache__/
*.py[cod]

# Environment variables and secrets
.env
.env.*

# Virtual environments
.venv/
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Editor and operating system files
.vscode/
.DS_Store
Thumbs.db

# Temporary files
*.log
